In [1]:
import requests
import matplotlib.pyplot as plt 
import pandas as pd
import json 
import csv 
%matplotlib inline

# concat nashville data

In [2]:
bars_list_nash = pd.read_csv('bars_list_nash.csv')

In [3]:
bars_list_nash_pd = pd.DataFrame(bars_list_nash)

In [4]:
restaurant_list_nash = pd.read_csv('restaurant_list_nash.csv')

In [5]:
restaurant_list_nash_pd = pd.DataFrame(restaurant_list_nash)

In [6]:
#bars_list_nash_pd.info()

In [7]:
#new = pd.concat([bars_list_nash_pd,restaurant_list_nash_pd])

In [8]:
#new.head()

In [9]:
activities_list_nash = pd.read_csv('activities_list_nash.csv')

In [10]:
activities_list_nash_pd = pd.DataFrame(activities_list_nash)

In [11]:
pets_list_nash = pd.read_csv('pets_list_nash.csv')

In [12]:
pets_list_nash_pd = pd.DataFrame(pets_list_nash)

In [13]:
shopping_list_nash = pd.read_csv('shopping_list_nash.csv')

In [14]:
shopping_list_nash_pd = pd.DataFrame(shopping_list_nash)

In [15]:
gym_list_nash = pd.read_csv('gym_list_nash.csv')

In [16]:
gym_list_nash_pd = pd.DataFrame(gym_list_nash)

In [17]:
gym_list_nash.head()

,Unnamed: 0,review_count,categories,ratings,name,latitude,longitude,price,zip_code
0,0,27,['Interval Training Gyms'],5.0,CrossFit Forte,36.148838,-86.770403,no price,37203
1,1,72,"['Gyms', 'Child Care & Day Care']",4.0,Downtown Nashville YMCA,36.161387,-86.785404,no price,37203
2,2,39,"['Boot Camps', 'Gyms', 'Trainers']",4.5,Orangetheory Fitness Green Hills,36.108978,-86.813141,no price,37215
3,3,50,"['Gyms', 'Trainers', 'Kickboxing']",4.5,HOTBOX Fitness,36.154832,-86.786809,no price,37203
4,4,43,"['Trainers', 'Cycling Classes', 'Interval Trai...",4.5,KrankFIT,36.109747,-86.810962,no price,37215

In [19]:
nashville_yelp = pd.concat([bars_list_nash_pd,restaurant_list_nash_pd, activities_list_nash_pd, pets_list_nash_pd, shopping_list_nash_pd, gym_list_nash_pd])

In [20]:
nashville_yelp.shape

(284, 9)

In [21]:
nashville_yelp.to_csv('nashville_yelp.csv')

# concat denver data

In [24]:
bars_den_list = pd.read_csv('bars_den_list.csv')

In [31]:
bars_list_nash_pd = pd.DataFrame(bars_den_list)

In [30]:
restaurants_den_list = pd.read_csv('restaurants_den_list.csv')

In [32]:
restaurants_list_nash_pd = pd.DataFrame(restaurants_den_list)

In [26]:
active_den_list = pd.read_csv('active_den_list.csv')

In [33]:
active_list_nash_pd = pd.DataFrame(active_den_list)

In [27]:
pets_den_list = pd.read_csv('pets_den_list.csv')

In [34]:
pets_list_nash_pd = pd.DataFrame(pets_den_list)

In [28]:
shopping_den_list = pd.read_csv('shopping_den_list.csv')

In [35]:
shopping_list_nash_pd = pd.DataFrame(shopping_den_list)

In [29]:
gyms_den_list = pd.read_csv('gyms_den_list.csv')

In [36]:
gyms_list_nash_pd = pd.DataFrame(gyms_den_list)

In [37]:
denver_yelp = pd.concat([bars_list_nash_pd,restaurants_list_nash_pd,active_list_nash_pd,pets_list_nash_pd, shopping_list_nash_pd, gyms_list_nash_pd])

In [38]:
denver_yelp.shape

(300, 9)

In [39]:
denver_yelp.to_csv('denver_yelp.csv')